@{
	ViewData["Title"] = "Donate";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
	GNARAnimalRescue@gmail.com<br />
	<abbr title="Phone">P:</abbr>
	(682) 207-7467
</address>


