@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<a asp-controller="GNAR" asp-action="pets" class="btn btn-lg btn-success">Admin Pets Alive!</a>
	<div class="col-md-5 col-md-offset-2">

		<h2>Don’t call animal control. Call GNAR!</h2>

		<br />Good Neighbors Animal Rescue's mission is to facilitate the resolution of animal issues in Fairmount and Ryan Place.<br />
		<br />We offer (and accept) as much or as little assistance to and from neighbors as is required or requested to facilitate the safety, health, and adoption of our community animals in need.<br />
		<br />We were formed to provide a hub for neighbors to come together to save pets and strays and a tax-deductible method to pool and distribute shared resources. GNAR's methods are to promote and facilitate fostering and to spread out the financial burden of the big-hearted amongst all of us who want to help.<br />
		<br />Examples that are put into action every day are the loans and donations of unused dog crates, which would otherwise be just accumulating dust in our garages. These help keep a momma and her kittens safely housed indoors while they grow to adoptable ages, or help a foster home to train and keep their own pets separate from a new dog brought in from the street while waiting for vaccinations and neutering. Collection and inventory of loaned and donated pet carriers are made available to anyone who needs one to borrow one in order to be able to transport animals of many sizes to and from vet clinics when required.<br />
		<br />GNAR volunteers regularly arrange and provide group transports of pets and strays from the neighborhood to spay, neuter, and low cost vaccination clinics to help neighbors to get animals ready for adoption to a new home, or just to get that errand done!<br />
		<br />But most of all, GNAR neighbors work towards the larger goal of keeping the stray population in control to reduce the suffering of unwanted, homeless, and neglected animals.
	</div>
	<div class="col-md-5">
	</div>
</div>
